body {


    background: rgb(69, 69, 69);
    margin: 0;
    width: 100vw;
    display: flex;
    font-family: Arial, sans-serif;
    color: #fff;
}

#mainpage {
    overflow: hidden;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(49, 49, 49);
    width: 70px;
    height: 100vh;
}

#sidebar button {
    margin-top: 2vh;
    background: transparent;
    border: none;
    opacity: 0.7;
    transition: 0.2s all;
    display: flex;
    align-items: center;
}


#sidebar button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 0;
    border-radius: 100px;
    background-color: #fff;
    opacity: 0;
    transition: .5s all;
}

#sidebar button:hover::before {
    height: 50px;
    opacity: 1;
}


#sidebar button:hover {
    opacity: 1;
    cursor: pointer;
}

#sidebar img {
    width: 50px;

}


#content {
    width: calc(100vw - 70px);
    height: 100vh;
    overflow: hidden;
    color: #fff;

}

button {
    outline-style: none;
}

.dropdown {
    z-index: 1;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background: rgb(49, 49, 49);
    padding: 5px;
    border: solid 1px #fff;
    opacity: 0.7;
}

.dropdown img {
    width: 10px;
    margin-left: 20px;

}

.dropdown-content {

    display: none;
    position: absolute;
    left: calc(0% - 1px);
    top: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown:hover{
        opacity: 1;

}

.dropdown-content button {
    
    width: 100%;
    opacity: 0.7;
    background: rgb(49, 49, 49);
    border: solid 1px #fff;
    color: #fff;
    padding: 5px;
    
}

.dropdown-content button:hover {
        opacity: 1;

}



#map {
    width: 1000px;
    height: 1000px;
    background-image: url(img/marigny.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50%;
    transform: translate(-50%);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.zoom {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0;
    background-color: transparent;
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    overflow: hidden;
}

.zoom button {
    
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background: rgb(49, 49, 49);
    font-size: 20px;
    border: solid 1px ;
    transition: 0.5s all;
    color: #fff;
    height: 30px;
    width:30px;
}

.zoom button:hover {
    cursor: pointer;
    opacity: 1;

}

h1 {
    text-align: center;
    color: #ca3e47;
}

h2 {
    text-align: center;
}


.accueil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh
}


ul {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    float: left;
}

li {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    background: rgb(49, 49, 49);
    padding: 10px;
    border-radius: 5px;
}

.icon {
    width: 50px;
    margin-right: 20px;
}

.draggable {
    position: absolute;
    top: 0;
    height: 5%;
    width: 5%;
    transform: translate(-50%,-50%);
}

.icon.infantry,.icon.tank{
    height: 50px;
    width: 50px;
}
.infantry{
    background-color: blue;
    -webkit-mask: url(img/infantry.svg) no-repeat center;
    mask: url(img/infantry.svg) no-repeat center;
}
.infantry.change{
    background-color: red;
}
.tank.change{
    background-color: red;
}

.tank{
    background-color: blue;
    -webkit-mask: url(img/tank.svg) no-repeat center;
    mask: url(img/tank.svg) no-repeat center;
}




.draggable:hover {
    cursor: move;
}
#legende{
    height: 100vh;
    min-width: 330px;
    background: rgb(49,49,49);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;

}
.container{
    width:calc(100vw-70px);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.element-div{
    height: 100%;
}
#map-container{
        overflow: scroll;
    width: calc(100vw  - 400px);

}
#add-module{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0;
    border: none;
    color: #fff;
    opacity: 0.7;
}
#add-module:hover{
            opacity: 1;

}

.add-module-div{
    z-index:1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-module-menu{
    display: none;
    
    min-width:100px; 
    border: solid 1px #fff;
    margin-bottom: 20px;
    margin-top: 0px;
}
#add-module-menu.change{
    display:flex;
    flex-direction: column;
}
.add-module-button{
    color: #fff;
    background: transparent;
    border:none;
    padding: 5px;
    transition: 0.2s all;
}
.add-module-button:hover{
    background: rgb(39,39,39);
}



button:hover{

    cursor:pointer;
}
.legend-content{
    z-index:0;
    margin-top: 20px;
    height: 100px;
    width: 250px;
    position: relative;
}

.frame{
    margin-right: 10px;
    font-size:20px;
    padding-left: 6px;
    padding-right: 6px;
    border:solid 1px #fff;
}

.delete{
    width:25px;
    height:25px;
    background: url(img/cross-close-svgrepo-com.svg);
    background-size: cover;
    position: absolute;
    bottom:0px;
    right: 0px;
    border:solid 1px #fff;
    opacity: 0.7;
}
.delete:hover{
    opacity: 1;
}
iframe {
    height: 100%;
    width: 100%;
    border: solid 1px #fff;
    padding: 5px;
}


.buttonTeam{
    
    
}