:root {
  --color-first:#323BAC;
  --color-second:#FF4B5C;
  --color-third:#454545;
  --color-fourth:#E6E9EE;
  --color-white:#ffffff;
  --color-whiteBackground:#ffffff;
  --color-black:#000000;
  --theme: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-first:#323BAC;
    --color-second:#FF4B5C;
    --color-third:#454545;
    --color-fourth:#313131;
    --color-white:#000000;
    --color-whiteBackground:#181818;
    --color-black:#ffffff;
    --theme: "dark";
  }
}