:root {
  --color-first:#323BAC;
  --color-second:#FF4B5C;
  --color-third:#454545;
  --color-fourth:#E6E9EE;
  --color-white:#ffffff;
  --color-whiteBackground:#ffffff;
  --color-black:#000000;
  --theme: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-first:#323BAC;
    --color-second:#FF4B5C;
    --color-third:#454545;
    --color-fourth:#313131;
    --color-white:#000000;
    --color-whiteBackground:#181818;
    --color-black:#ffffff;
    --theme: "dark";
  }
}
* {
  box-sizing: border-box;
}

body {
  background: var(--color-third);
  margin: 0;
  width: 100vw;
  display: flex;
  font-family: Arial, sans-serif;
  color: var(--color-black);
}
body#mainpage {
  overflow: hidden;
}
body.accueil {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline-style: none;
}

div#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-fourth);
  width: 70px;
  height: 100vh;
}
div#sidebar button {
  margin-top: 2vh;
  background: transparent;
  border: none;
  opacity: 0.7;
  transition: 0.2s all;
  display: flex;
  align-items: center;
}
div#sidebar button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 5px;
  height: 0;
  border-radius: 100px;
  background-color: var(--color-black);
  opacity: 0;
  transition: 0.5s all;
}
div#sidebar button:hover::before {
  height: 50px;
  opacity: 1;
}
div#sidebar button:hover {
  opacity: 1;
  cursor: pointer;
}
div#sidebar img {
  width: 50px;
}

div#content {
  width: calc(100vw - 70px);
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

div.top-left {
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.top-left div.dropdown {
  z-index: 1;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background: var(--color-fourth);
  padding: 5px;
  border: solid 1px #fff;
  opacity: 0.7;
  transition: 0.5s all;
}
div.top-left div.dropdown div.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.top-left div.dropdown div.inner img {
  width: 10px;
  margin-left: 20px;
}
div.top-left div.dropdown .dropdown-content {
  /*display: none;*/
  position: absolute;
  width: calc(60% + 1px);
  left: calc(0% - 1px);
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
div.top-left div.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}
div.top-left div.dropdown:hover {
  opacity: 1;
}
div.top-left div.dropdown .dropdown-content button {
  width: 100%;
  opacity: 0.7;
  background: var(--color-fourth);
  border: solid 1px #fff;
  color: #fff;
  padding: 5px;
}
div.top-left div.dropdown .dropdown-content button:hover {
  opacity: 1;
}
div.top-left button#download {
  z-index: 999;
  padding: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: none;
  background: var(--color-fourth);
  background: url("../img/save.svg");
  background-size: cover;
  opacity: 0.7;
}
div.top-left button#download:hover {
  opacity: 1;
}

div#map {
  width: 1000px;
  height: 1000px;
  background-image: url("../img/marigny.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin-left: 50%;
  transform: translate(-50%);*/
  position: relative;
  z-index: 0;
  overflow: hidden;
}

div.zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
  overflow: hidden;
}
div.zoom button {
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--color-fourth);
  font-size: 20px;
  border: solid 1px;
  transition: 0.5s all;
  color: #fff;
  height: 30px;
  width: 30px;
}
div.zoom button:hover {
  cursor: pointer;
  opacity: 1;
}

h1 {
  text-align: center;
  color: #ca3e47;
}

h2 {
  text-align: center;
}

div.div-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
div.div-content ul {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 50vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  float: left;
}
div.div-content li {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: justify;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  background: var(--color-fourth);
  padding: 10px;
  border-radius: 5px;
}
div.div-content li img.icon {
  width: 50px;
  margin-right: 20px;
}

div.draggable {
  position: absolute;
  top: 0;
  height: 5%;
  width: 5%;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.icon.infantry,
.icon.tank,
.icon.mg,
.icon.mortar {
  height: 50px;
  width: 50px;
}

div.infantry {
  background: url("../img/infantry.png");
  background-size: cover;
}

div.infantry.change {
  background: url("../img/infantryEn.png");
  background-size: cover;
}

div.mortar {
  background: url("../img/mortar.png");
  background-size: cover;
}

div.mortar.change {
  background: url("../img/mortarEn.png");
  background-size: cover;
}

div.mg {
  background: url("../img/mg.png");
  background-size: cover;
}

div.mg.change {
  background: url("../img/mgEn.png");
  background-size: cover;
}

div.tank.change {
  background: url("../img/tankEn.png");
  background-size: cover;
}

div.tank {
  background: url("../img/tank.png");
  background-size: cover;
}

div.draggable:hover {
  cursor: move;
}

div#legende {
  height: 100vh;
  min-width: 330px;
  background: var(--color-fourth);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}

div.container {
  width: calc(100vw - 70px);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.container .element-div {
  height: 100%;
}

#map-container {
  overflow: scroll;
  width: calc(100vw - 400px);
}

#add-module {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0;
  border: none;
  color: #fff;
  opacity: 0.7;
}

#add-module:hover {
  opacity: 1;
}

.add-module-div {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-module-menu {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 100px;
  border: solid 1px #fff;
  margin-bottom: 20px;
  margin-top: 0px;
  background: var(--color-fourth);
}

#add-module-menu.change {
  display: flex;
  flex-direction: column;
}

.add-module-button {
  color: #fff;
  background: transparent;
  border: none;
  padding: 5px;
  transition: 0.2s all;
}

.add-module-button:hover {
  background: #272727;
}

button:hover {
  cursor: pointer;
}

.legend-content {
  z-index: 0;
  margin-top: 20px;
  min-height: 100px;
  width: 250px;
  position: relative;
  border: solid 1px #fff;
  padding: 5px;
}

.frame {
  margin-right: 10px;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px #fff;
}

.delete {
  width: 25px;
  height: 25px;
  background: url("../img/cross-close-svgrepo-com.svg");
  background-size: cover;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: solid 1px #fff;
  opacity: 0.7;
}

.delete:hover {
  opacity: 1;
}

iframe {
  height: 100%;
  width: 100%;
  border: solid 1px #fff;
  padding: 5px;
}

.buttonTeam {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: transparent;
  color: #fff;
  border: solid 1px #fff;
  opacity: 0.7;
}

.inputName {
  background: transparent;
  color: #fff;
  border: solid 1px #fff;
  opacity: 0.7;
  border-radius: 0px;
  width: 70%;
  text-align: right;
}

.inputName:hover {
  opacity: 1;
}

.divInput {
  display: flex;
  position: absolute;
  right: 5px;
  width: 70%;
}

.okInput {
  background: transparent;
  color: #fff;
  border: solid 1px #fff;
  opacity: 0.7;
}

.okInput:hover {
  opacity: 1;
}

.buttonTeam:hover {
  opacity: 1;
}

.nameInput {
  min-width: 50px;
  border: solid 1px #fff;
  opacity: 0.7;
}

#nameOfElement {
  display: none;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -200%);
  background: var(--color-fourth);
  padding: 5px;
  border: solid 1px #fff;
  z-index: 100000;
}

#nameOfElement.change {
  display: block;
}